a.info-toggle(href="#") info
.information
	section
		p Everyday I need to make lots of little conversions and calculations when taking designs from Photoshop files to the web.
		p This is a little tool I made to make all of that easier for myself (and perhaps others).
		p If you think of anything it needs, get at me on twitter - #[a(href="http://twitter.com/jonnyscholes") @jonnyscholes] or submit an issue on the #[a(href="https://github.com/jonnyscholes/toolery/") Github repo].
	section
		p Color variable names come from #[a(href="http://chir.ag/projects/ntc/") namethatcolor.js by Chirag Mehta]
		p The WCAG check is AAA compliant (AA etc coming soon) and it currently supports finding colors in the following formats:
		ul
			li RGB - rgb(0, 0, 0)
			li RGBA - rgba(0, 0, 0, 0)
			li HEX - #000000
			li Adobe #1 - R:0 G:0 B:0
			li Adobe #2 - (R0 / G0 / B0)
		p It supports converting the following units from/to eachother (where possible):
		ul
			li rem
			li in (inches)
			li cm (centimeters)
			li pc (picas)
			li mm (milimeters)
			li pt (points)
			li px (pixels)
			li deg (degrees)
			li rad (radians)
			li s (seconds)
			li ms (miliseconds)